.navbar-header.navbar-cabecalho{
	background-color:#373b41;
	max-height:40px;
}

.navbar.navbar-fixed-top.collapse.navbar-collapse{
	background-color:#373b41;
}

.logo{
	margin-top:10px;
}

.logo-img{
	margin-top:4px;
}

.logo-font{
	color:#ffffff;
	font-size:18px;
	margin-top:20px;
	margin-left:20px;
}

button[type="button"].navbar-toggle.first-button-toggle{
	margin-top:-32px;
}

button[type="button"].navbar-toggle.second-button-toggle{
	margin-top:-42px;
}

.collapse.navbar-collapse.navbar-style{
	background-color:#373b41;
}

.triangle-button{
	color:#ffffff;
	margin-top:-28px;
	margin-left:125px;
}

.logo-name{
	margin-right:50px;
	margin-left:40px;
	margin-top:-28px;
	color:#ffffff;
}

.nav.navbar-nav > li > a:hover{
	background-color:#000000;
}

ul.lista{
	padding:0px;
	margin-top:100px;
	list-style-type:none;
}

ul.lista > li.item:hover{
	background-color:#000;
}

ul.lista > li > a{
	color:#fff;
	text-decoration:none;
	font-size:17px;
}

.item{
	padding:10px;
}

ul.lista-sub-itens{
	list-style-type:none;
	padding:0px;
	background-color:#282b2f;
}
ul.lista-sub-itens > li > a{
	color:#fff;
	text-decoration:none;
	margin-left:30px;
}
ul.lista-sub-itens > li.sub-item:hover{
	background-color:#1f2125;
}
.sub-item{
	padding:10px;
}

.menu-perfil{
	background-color:#2b2f35;
	color:#fff;
	padding:0px;
	margin-top:50px;
}
.perfil-item{
	list-style-type:none;
}